.user-data-field.read-only {
  color: grey !important;
}

#change-week {
    border: 0;
    padding: 0;
    max-height: 1.5em;
    margin: 0.2em 0.5em 0 0.5em;
}

#weekname {
    max-width: 85%;
    display:  inline-block;
    /* overflow: hidden; */
}
#gestione-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    /* border: 1px solid black; */
    height: 70%;
    text-align: center;
    font-size: large;
    /* max-width: 50vw; */
}

 #scroll {
    overflow: auto;
    /*border: 1px solid #000000;*/
    background-color: #ffffff;
    padding-left: 10px;
     max-height: 80%;
}

#scroll-cont {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#scroll-buttons-cont {
    
    display:flex;
}

.schedule {
    display: grid;
    /* grid-template-columns: 75% 25%; */
    height: 80vh;
    /* width: 75vw; */
    padding-left: 10px;
    /* border: 1px solid green; */
}

#gestione-account fieldset {

    border:none;
    
}

#area-personale .page-heading, #gestione-account .page-heading, #prenotazioni-aula .page-heading, #nuovo-account .page-heading{
  padding: calc(var(--navheight) + 80px) 0px 80px 0px;
}

#area-personale section, #gestione-account section, #prenotazioni-aula section, #nuovo-account section{
    margin: 30px 20px 50px 20px !important;
    /* display: grid; */
}

#area-personale .service-item, #gestione-account .service-item, #prenotazioni-aula .service-item, #nuovo-account .service-item {
    display: grid;
    padding-top: var(--navheight);
    /* max-width: 1000px; */
    min-width: 600px;
}

#gestione-account .service-item, #nuovo-account .service-item {max-width: 50vw;margin-left: 300px !important;}

body {

    background-color: white !important;
    /* padding-top: calc(var(--navheight) + 30px); */
    margin: 0;

}

#timetbl {
    display: grid;
    /*border: 1px solid black;*/
    grid-area: 2/1/2/1;
    overflow:  hidden;
}

:root {

    --navheight: 50px;

}

div.cell.index {
    text-align: center;
    vertical-align: middle;
    color: black;
    padding: 2px;
    background-color: whitesmoke;
}

div.cell {
    margin: 1px;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

div.cell:hover {
    overflow: visible;
    color:black;
    transition: 300ms;
}

.invites-icons {
  display: none;
}

.att:hover .invites-icons {
  display: inline-block;
}

.attAccettata {

    background-color: #005d00;

}

.attRifiutata {

    background-color: #970000;
    /*display: none;*/

}

#toggle-red {

    border: 0;
    
}

.attInSospeso {
    
    background-color: #6a6a6a;

}

.attNeutra {

background-color: rgb(12 101 102);
}

/*.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}*/