.chi-siamo-header {
  background-color: rgb(33, 39, 65);
}

section.top-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

div.section-heading {
  margin-bottom: 30px;
}

.sale-prova-padding {
  padding-top: 50px;
}

.section-services-padding-bottom {
  padding-bottom: 50px;
}