.attAccettata {

    background-color: forestgreen;
}

.attRifiutata {

    background-color: firebrick;
}

.attInSospeso {

    background-color: darkorange;
}

.scroll-sched {
    overflow: auto;
    border: 1px solid #000000;
    padding: 10px;
}

.table-sched {
  display: grid;
  border: 1px solid #000000;
  grid-template-rows: 20% 80%;
  grid-gap: 4px;
  background-color: #2196F3;
  padding: 10px;
}

.table-sched > .timetable {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(7, 1fr);
    background-color: #c8bfff;
    grid-gap: 4px;

}

.act {

    border: 2px solid #000000;
    text-align: center;
    font-family: "Funnel Display", sans-serif;

}

.table-sched > .header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}

.schedule {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 50vh;
    width: 75vw;

}