nav {

    height: var(--navheight);
    line-height: var(--navheight);
    background-color: rgb(64, 190, 253);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;


}

nav > .home-title {

    vertical-align: middle;
    display: inline-block;

}

.scroll-sched {
    overflow: auto;
    border: 1px solid #000000;
    background-color: whitesmoke;
}

.schedule {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 60vh;
    width: 75vw;
    max-width: 1000px;
    min-width: 600px;
    padding-left: 10px;
}

body {

    background-color: whitesmoke;
    padding-top: calc(var(--navheight) + 30px);
    margin: 0;

}

:root {

    --navheight: 50px;

}