/* Container principale */

.container-calendario {
    max-width: 700px;
    margin: 50px auto;
}

/* Titolo e testo */
.testo-calendario {
    text-align: center;
    margin-bottom: 20px;
}

/* Box settimana */
.boxSettimana {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

/* Navigazione settimana */
.nav-settimana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav-settimana button,
.settimana li button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
}

/* Griglia giorni */
ul.giorni,
ul.settimana {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Stile singolo giorno/numeri */
ul.giorni li,
ul.settimana li {
    text-align: center;
    padding: 10px 0;
    border: 0.5px solid #ddd;
    box-sizing: border-box;
}

/* Colore differente per header dei giorni */
ul.giorni li {
    font-weight: bold;
    background-color: #f0f0f0;
}